.token-container {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.token {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.empty {
    background-color: #e1e1e1;
}

.player-one {
    background-color: #eaa0a2;
}

.player-two {
    background-color: #3a4664;
}