body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-row-gap: 16px;
    grid-template-areas: "header" "content";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.content {
    grid-area: content;
}
